{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%} Contato {% endblock %}

{% block content %} 

{% if messages %}
    <div class="alert alert-primary" role="alert">
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{message.tags}}" {% endif%}>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    
{% endif %}

<div class="container form-contato">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-primary text-white"><i class="fa fa-envelope"></i> Entrar em Contato
                </div>
                <div class="card-body">
                    <form>
                        {% csrf_token %}

                        {{ form|crispy }}
                        <div class="form-actions mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}